# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# GCP credentials — JAMAIS dans l'image Docker !
service-account.json
*.json

# DBT artifacts
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# CI/CD
.github/
jenkins/

# OS
.DS_Store